body {
  font-family: sans-serif;
}

.logo {
  width: 150px;
  margin: 10px;
}

li {
  list-style: none;
}

.flex-column {
  font-size: .9em;
  background-color: #F6F6F6;
  width: 170px;
  float:left;
  clear: left;
  position: static;
}

.uppernav {
  float: right;
  width: 40%;
  margin: 0;
}

.uppernav li {
  float: right;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0;
}

.mainnav {
  padding-top: 2rem;
  font-size: 1.3rem;
  float: right;
}

.search {
  float: right;
  position: static; 
}

.afternav {
  clear: right;
}

.main {
  margin-left: 15em;
}
