body {
  font-family: sans-serif;
}

a {
  color: 
}

.clear {
  clear: all;
}

.logo {
  width: 150px;
  margin: 10px;
}

li {
  list-style: none;
}

.flex-column {
  font-size: .9em;
  background-color: #F6F6F6;
  width: 170px;
  float:left;
  clear: left;
  position: static;
}

.uppernav {
  float: right;
  width: 40%;
  margin: 0;
}

.uppernav li {
  float: right;
  font-size: 1.2rem;
  margin: 0;
}

.mainnav {
  padding-top: 1.4rem;
  font-size: 1.3rem;
  float: right;
}

.search {
  float: right;
  position: static; 
  margin-right: 10px;
}

.afternav {
  clear: right;
}

.banner {
  margin-left: 13.5em;
  margin-top: 2em;
  width: 80%;
  height: 105px;
  text-align: center;
  line-height: 1.2rem;
  background-color: #F6F6F6;
  border: 1px lightgray solid;
  position: relative;
}

.banner-left {
  width: 40%;
  float: left;
}

.banner-right {
  float: right;
  width: 40%;
  height: 120px;
  padding-top: 6px;
}

.banner ul {
  display: inline;
}

.banner li {
  list-style-type: disc;
  text-align: left;
  line-height: 2.1rem;
  font-size: 1.3rem;
}
